<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961623198454-srnn13bb5qtcqdib64f0ftp4d0khdk88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961623198454-srnn13bb5qtcqdib64f0ftp4d0khdk88</string>
	<key>API_KEY</key>
	<string>AIzaSyClrb665MH5DagA47zT2Bxo_FPxQeGZ7m0</string>
	<key>GCM_SENDER_ID</key>
	<string>961623198454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestorage</string>
	<key>PROJECT_ID</key>
	<string>storeproject-1b17a</string>
	<key>STORAGE_BUCKET</key>
	<string>storeproject-1b17a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961623198454:ios:efd4dc9cc382fdce577ad7</string>
</dict>
</plist>